<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>
      <button *ngIf="!isLoggedIn"
        class="btn btn-primary btn-margin"
        routerLink="/register">
          Register
      </button>
      <button *ngIf="!isLoggedIn"
        class="btn btn-primary btn-margin"
        routerLink="/login">
          Login
      </button>
      <div *ngIf="isLoggedIn">
        <button (click)=logout()
          class="btn btn-primary btn-margin">
            Logout
        </button>
        <button
        class="btn btn-primary btn-margin"
        routerLink="/profile">
          Profile
      </button>
      </div>
      

    </div>
  </div>
  <div *ngIf="!isLoggedIn">
    <h2>Welcome</h2>
    <p>The Spotify Playlist Aggregator is a place to preserve your favorite songs from the Release Radar and Discover Weekly playlists that Spotify crafts for you.</p>  
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
